 .app-container{
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   height: 100vh;
   display: flex;
    flex-direction: column;
  }

 .welcome-message{
   text-align: center;
    color: gray;
   margin-top: 40px;
    }

  .loading-spinner{
    height: 40px;
     margin: -15px;
     }
